.customers {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  width: 160px;
  height: 48px;
  border-radius: 30px;
  padding: 10px 14px;
  background: var(--primary-white-color);
  margin-bottom: 8px;

  @media (min-width: 768px) {
    min-width: 237px;
    height: 67px;
    margin-bottom: 64px;
  }
}

.customersPhotos {
  width: 80px;
  position: relative;

  @media (min-width: 768px) {
    width: 103px;
  }
}

.customersPhotoOne {
  position: absolute;
  z-index: 3;
  left: 0;
  width: 26px;
  height: 28px;

  @media (min-width: 768px) {
    width: 47px;
    height: 47px;
  }
}

.customersPhotoTwo {
  position: absolute;
  z-index: 2;
  left: 18px;
  width: 26px;
  height: 28px;

  @media (min-width: 768px) {
    width: 47px;
    height: 47px;
    left: 30px;
  }
}

.customersPhotoThree {
  position: absolute;
  z-index: 1;
  left: 36px;
  width: 26px;
  height: 28px;

  @media (min-width: 768px) {
    width: 47px;
    height: 47px;
    left: 60px;
  }
}

.customersText {
  width: 67px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;

  @media (min-width: 768px) {
    width: 90px;
    font-size: 15px;
    line-height: 22.4px;
  }
}

.customersSpan {
  color: var(--primary-green-color);
}
