.waterListWrap {
  overflow-x: auto;
  height: 106px;

  @media (min-width:768px) {
    height: 118px;
  }
}

.waterList {
  height: 74px;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    height: 86px;
    gap: 32px;
  }

  @media (min-width: 1440px) {
    gap: 16px;
  }
}

.waterListWrap::-webkit-scrollbar {
  height: 8px;
}

.waterListWrap::-webkit-scrollbar-thumb {
  border-radius: 9px;
  cursor: pointer;
  background-color: var(--primary-dark-grey-color);
}

.waterListWrap::-webkit-scrollbar-track {
  background-color: var(--primary-white-color);
  border-radius: 9px;
}

.waterListWrap::-webkit-scrollbar-thumb:vertical {
  display: none;
}

.paragraph {
  margin-top: 24px;
}