.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  color: var(--primary-dark-grey-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.28px;
  }
}

.dateBox {
  display: flex;
  gap: 8px;
}

.date {
  display: flex;
  justify-content: center;
  width: 120px;
  color: var(--primary-dark-grey-color);
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;

  @media (min-width: 768px) {
    width: 140px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}

.logo {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: var(--primary-dark-grey-color);
}

button:disabled .logo {
  stroke: var(--invite-text-color);
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: auto;
}