.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.title {
color: var(--primary-dark-grey-color);
font-size: 20px;
font-weight: 700;
line-height: 1.2; 
letter-spacing: -0.2px;
}
.dateBox {
    display: flex;
    gap: 8px;
}
.date {
    display: flex;
    justify-content: center;
    width: 120px;
    color: var(--primary-dark-grey-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.14px; 
}
.logo {
    width: 18px;
  height: 18px;
  fill: none;
  stroke: var(--primary-dark-grey-color);
}

.IconBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: auto;
  }