.section {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width:768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width:1440px) {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}