.modalSettingContent {
  display: flex;
  flex-direction: column;
  max-width: 303px;
  /* max-width: 320px; */

  @media (min-width: 768px) {
    max-width: 568px;
  }

  @media (min-width: 1440px) {
    max-width: 840px;
    /* overflow-y: auto; */
  }
}

.yupAlert {
  color: var(--error-red-color);
}

.yupAlertBorder {
  color: var(--error-red-color);
  border: 1px solid var(--error-red-color);
}

.baseBorder {
  border: 1px solid rgba(47, 47, 47, 0.15);
}

.reqWaterColumns {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.toColumns {
  display: flex;
  flex-direction: column;
  @media (min-width: 1440px) {
    flex-direction: row;
    gap: 40px;
  }
}

.columnTwo {
  @media (min-width: 1440px) {
    padding-top: 62px; /*86-24=62*/
  }
}

.avatarArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.avatarThumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 133px;
  height: 103px;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    width: 151px;
    height: 134px;
  }
}

.avatar {
  width: 75px;
  height: 75px;
  /* border: 1px solid black; */
  background-color: var(--primary-light-grey-color);
  border-radius: 50%;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
}

.uploadIcon {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: var(--primary-black-color);
  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.uploadButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  /* font-size: 14px; */
  line-height: 18px;
  letter-spacing: -0.14px;
  background-color: transparent;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    gap: 8px;
    /* font-size: 16px; */
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

.settingBoldTitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.16px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.genderRadioGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 24px;
  margin-top: 14px;
}

.genderRadioGroup label {
  position: relative;
  padding-left: 30px;
  line-height: 18px;
  letter-spacing: -0.14px;
  cursor: pointer;
  user-select: none;

  @media screen and (min-width: 768px) {
    letter-spacing: -0.16px;
    line-height: 24px;
  }
}

.genderRadioGroup label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--primary-green-color);
  background-color: transparent;
}

.genderRadioGroup label::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8.57px;
  height: 8.57px;
  border-radius: 50%;
  background-color: transparent;
}

input[type='radio']:checked + label::after {
  background-color: var(--primary-green-color);
}

.dataBlock {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 24px;
}

.baseInput {
  display: flex;
  flex-direction: column;
  /* width: 303px; */

  @media screen and (min-width: 768px) {
    width: 568px;
  }

  @media screen and (min-width: 1440px) {
    width: 400px;
  }
}

.inputText {
  height: 46px;
  padding: 14px 16px;
  margin-top: 8px;
  /* font-size: 14px; */
  line-height: 18px;
  letter-spacing: -0.14px;
  /* border: 1px solid rgba(47, 47, 47, 0.15); */
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    height: 56px;
    padding: 16px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.24px;
  }
}

.toColumnsFormulas {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 26px;
  }
}

.ordinaryText {
  /* font-size: 14px; */
  line-height: 18px;
  letter-spacing: -0.14px;

  @media screen and (min-width: 768px) {
    line-height: 24px;
    letter-spacing: -0.24px;
  }
}

.ordinaryTextGreen {
  /* font-size: 14px; */
  line-height: 18px;
  letter-spacing: -0.14px;
  color: var(--primary-green-color);
  @media screen and (min-width: 768px) {
    line-height: 24px;
    letter-spacing: -0.24px;
  }
}

.boldTextGreen {
  margin-top: 4px;
  /* font-size: 14px; */
  line-height: 18px;
  letter-spacing: -0.14px;
  font-weight: bold;
  color: var(--primary-green-color);
  @media screen and (min-width: 768px) {
    line-height: 24px;
    letter-spacing: -0.24px;
  }
}

.legendWrap {
  padding: 16px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);
}

.activeHours {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.exclamationIcon {
  width: 18px;
  height: 18px;
}

.saveButton {
  height: 46px;
  width: 116px;
  margin-top: 40px;
  border-radius: 30px;
  background-color: var(--primary-green-color);
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.01em;
  transition: all var(--transition-duration) var(--transition-timing-function);

  @media (min-width: 768px) {
    height: 60px;
    width: 141px;
    line-height: 1.5;
  }
}
