.modalSettingContent {
  display: flex;
  flex-direction: column;
  max-width: 303px;
  /* max-width: 320px; */

  @media (min-width: 768px) {
    max-width: 568px;
  }

  @media (min-width: 1440px) {
    max-width: 840px;
    /* overflow-y: auto; */
  }
}

.toColumns {
  display: flex;
  flex-direction: column;
  @media (min-width: 1440px) {
    flex-direction: row;
    gap: 40px;
  }
}

.saveButton {
  height: 46px;
  width: 116px;
  margin-top: 40px;
  border-radius: 30px;
  background-color: var(--primary-green-color);
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.01em;
  transition: all var(--transition-duration) var(--transition-timing-function);

  @media (min-width: 768px) {
    height: 60px;
    width: 141px;
    line-height: 1.5;
  }
}
