.waterItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  width: 149px;
  height: 74px;
  padding: 18px 14px;
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    gap: 19px;
    background-color: white;
    border-radius: 15px;
    width: 192px;
    height: 86px;
    padding: 20px;
  }
}

.waterIcon {
  width: 28px;
  height: 31px;

  @media screen and (min-width: 768px) {
    width: 44px;
    height: 45px;
  }
}

.waterItemWrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--color-white);

  @media screen and (min-width: 768px) {
    gap: 0px;
  }
}

.waterItemMl {
  font-weight: 700;
  line-height: 1;
  color: #323f47;

  @media screen and (min-width: 768px) {
    font-size: 15px;
    line-height: 1.49333;
  }
}

.waterIconBtn {
  fill: transparent;
  width: 14px;
  height: 14px;

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.waterItemData {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(47, 47, 47, 0.6);

  @media screen and (min-width: 768px) {
    line-height: 1.86667;
  }
}

.waterItemBtnWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.waterItemBtn {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: var(--color-white);
  border: none;
  stroke: #323f47;
  fill: var(--main-white);
  stroke-width: 1.3px;
}