.userBar {
  display: flex;
  padding: 6px 12px;
  margin-bottom: 8px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  border-radius: 30px;
  background-color: #323f47;
}

.userName {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  object-fit: cover;
}

.chevronDown {
  padding: 6px 12px;
  align-items: center;
  gap: 10px;
}
