.userBarPopover {
  /*position: absolute;*/
  top: 40px;
  right: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  display: flex;
  padding: 14px 57px 14px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.settingsButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #323F47;
}


.logoutButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #323F4766;
}

.settingsButton:hover {
  background-color: #f9f9f9;
}

.logoutButton:hover {
  color: #323F47;
  
}
