.userPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.helloTitle {
  color: #323f47;
  font-family: Gilroy;
  font-size: 32px;
  line-height: 32px; /* 100% */
  letter-spacing: -0.32px;
}

.userNameHello {
  color: #323f47;
  font-family: Gilroy;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.32px;
}
