.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.timeLabel,
.waterLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.28;

  @media (min-width:768px) {
    line-height: 1.5;
  }
}

.waterLabel {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;

  @media (min-width:768px) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.timeInput,
.waterInput {
  width: 100%;
  height: 46px;
  padding-left: 16px;
  margin-top: 8px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  line-height: 1.29;

  @media (min-width:768px) {
    height: 56px;
    line-height: 1.5;
  }
}