.form {
  display: flex;
  flex-direction: column;
}

.timeLabel,
.waterLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.28;
  margin-bottom: 24px;

  @media (min-width:768px) {
    line-height: 1.5;
  }
}

.waterLabel {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;

  @media (min-width:768px) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.timeInput,
.waterInput {
  width: 100%;
  height: 46px;
  padding-left: 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  line-height: 1.29;

  @media (min-width:768px) {
    height: 56px;
    line-height: 1.5;
  }
}

.errorLabel.timeLabel,
.errorLabel.waterLabel {
  margin-bottom: 4px;
}

.errorLabel.waterInput,
.errorLabel.timeInput {
  border-color: var(--error-red-color);
  color: var(--error-red-color);
}

.errorMessage {
  color: var(--error-red-color);
  line-height: 1.28;
}

.timeLabel + .errorMessage {
  margin-bottom: 10px;
}

.waterLabel + .errorMessage {
  margin-bottom: 24px;
}