.addWaterBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  color: var(--primary-dark-grey-color);
  border-radius: 30px;
  height: 46px;
  padding: 14px 0px;
}

.iconPlusWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: var(--primary-green-color);
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.addWaterBtn:hover .iconPlusWrap {
  background-color: var(--primary-dark-grey-color);
}

.iconPlus {
  --color1: var(--primary-dark-grey-color);
  width: 16px;
  height: 16px;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.addWaterBtn:hover .iconPlus {
  --color1: var(--primary-white-color);
}
