:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color-scheme: light dark;
  color: var(--primary-dark-grey-color);
  background-color: var(--primary-white-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media(min-width:768px) {
    font-size: 16px;
  }
}

.container {
  @media (max-width:374.98px) {
    max-width: 375px;
  }

  margin: 0 auto;
  width: 375px;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width:768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width:1440px) {
    width: 1440px;
  }
}