:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-dark-grey-color);
  color-scheme: light dark;
  background-color: var(--primary-white-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media(min-width:768px) {
    font-size: 16px;
  }
}

.body::-webkit-scrollbar {
  display: none;
}