@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}