h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  padding: 0;
  outline: none;
}

input,
textarea,
select {
  background-color: inherit;
  color: inherit;
  outline: none;
  margin: 0;
}

textarea {
  resize: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}