:root {
  --primary-black-color: #2f2f2f;
  --primary-dark-grey-color: #323f47;
  --primary-green-color: #9be1a0;
  --primary-light-grey-color: #f0eff4;
  --primary-white-color: #ffffff;
  --hover-green-color: #87d28d;
  --error-red-color: #ef5050;
  --backdrop-color: #2f2f2f99;
  --opacity-grey-color: #323f474d;
  --input-border-color: #2f2f2f33;
  --invite-text-color: #2f2f2f80;
  --transition-duration: 0.7s;
  --transition-timing-function: ease-in-out;
  --primary-font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Gilroy', sans-serif;
}
