@import '../../styles/variables.css';

.signUpContainer {
  @media (max-width: 374.98px) {
    max-width: 375px;
  }

  background-color: var(--primary-light-grey-color);
  padding: 24px 16px;
  border-radius: 30px;

  margin: 0 auto;
  width: 342px;

  @media (min-width: 768px) {
    width: 768px;
    padding: 32px;
  }

  @media (min-width: 1440px) {
    width: 1406px;
  }
}

.singUpLogo {
  margin-bottom: 126px;
  @media (min-width: 768px) {
    margin-bottom: 171px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 74px;
  }
}
