.container {
  @media (max-width:374.98px) {
    height: 100%;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 20px;
  column-gap: 17px;
  height: 303px;

  @media (min-width: 768px) {
    row-gap: 15px;
    column-gap: 48px;
    height: 305px;
  }

  @media (min-width: 1440px) {
    row-gap: 15px;
    column-gap: 43px;
  }
}