.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 170px;
  height: 56px;
  margin-left: auto;

  @media (min-width: 768px) {
    margin-top: 53px;
    width: 242px;
    height: 78px;
  }

  @media (min-width: 1440px) {
    margin-top: 57px;
  }
}

.habit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 30px;
  padding: 9px 12px;
  background-color: var(--primary-dark-grey-color);

  @media (min-width: 768px) {
    width: 112px;
    height: 34px;
    padding: 11px 16px;
  }
}

.habitText {
  color: var(--primary-white-color);
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -1%;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 12px;
  }
}

.statistics {
  border-radius: 30px;
  padding: 9px 12px;
  background-color: var(--primary-green-color);

  @media (min-width: 768px) {
    width: 122px;
    height: 34px;
    padding: 11px 16px;
  }
}

.statisticsText {
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -1%;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 12px;
  }
}

.rate {
  border-radius: 30px;
  padding: 9px 12px;
  background-color: var(--primary-white-color);

  @media (min-width: 768px) {
    width: 161px;
    height: 34px;
    padding: 11px 16px;
  }
}

.rateText {
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -1%;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 12px;
  }
}

.dot {
  position: static;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary-green-color);
}
