.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @media (max-width:374.98px) {
    max-width: 375px;
  }

  @media (min-width:375px) {
    width: 375px;
  }

  @media (min-width:768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width:1440px) {
    width: 1440px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}