.container {
  position: relative;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (max-width:374.98px) {
    max-width: 375px;
  }

  @media (min-width:375px) {
    width: 375px;
  }

  @media (min-width:768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width:1440px) {
    width: 1440px;
    flex-direction: row;
    gap: 32px;
  }
}