.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addWaterBtn {
  width: 124px;
  height: 30px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  color: black;
  background-color: white;
  position: absolute;
}
