.btn {
  position: absolute;
  right: 16px;
  bottom: 32px;
  background-color: var(--primary-black-color);

  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
}

.boldtext {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  font-weight: bold;
}

.boldtext:hover {
  color: var(--hover-green-color);
}
.boldtext:focus {
  color: var(--hover-green-color);
}
@media (min-width: 768px) {
  .btn {
    right: 32px;
    bottom: 64px;

    border-radius: 30px;
    padding: 18px 30px;
    width: 178px;
    height: 60px;
  }

  .boldtext {
    font-size: 16px;
    line-height: 150%;
  }
}

@media (min-width: 1440px) {
}
