.wrapper {
  height: 353px;
  padding: 206px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: image-set(
    url('/public/img/homePage/mobile/background-mobile-@1x.webp') 1x,
    url('/public/img/homePage/mobile/background-mobile-@1x.png') 1x
  );

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 144dpi),
    (min-resolution: 2dppx) {
    background-image: image-set(
      url('/public/img/homePage/mobile/background-mobile-@2x.webp') 2x,
      url('/public/img/homePage/mobile/background-mobile-@2x.png') 2x
    );
  }

  @media (min-width: 768px) {
    flex-direction: row;
    height: 446px;
    padding: 283px 32px 32px 32px;
    background-image: image-set(
      url('/public/img/homePage/tablet/background-tablet-@1x.webp') 1x,
      url('/public/img/homePage/tablet/background-tablet-@1x.png') 1x
    );

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 144dpi),
      (min-resolution: 2dppx) {
      background-image: image-set(
        url('/public/img/homePage/tablet/background-tablet-@2x.webp') 2x,
        url('/public/img/homePage/tablet/background-tablet-@2x.png') 2x
      );
    }
  }

  @media (min-width: 1440px) {
    width: calc((100% - 32px) / 2);
    height: 736px;
    padding: 537px 32px 64px 32px;
    background-image: image-set(
      url('/public/img/homePage/desktop/background-desktop-@1x.webp') 1x,
      url('/public/img/homePage/desktop/background-desktop-@1x.png') 1x
    );

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 144dpi),
      (min-resolution: 2dppx) {
      background-image: image-set(
        url('/public/img/homePage/desktop/background-desktop-@2x.webp') 2x,
        url('/public/img/homePage/desktop/background-desktop-@2x.png') 2x
      );
    }
  }
}

.customers {
  width: 160px;
  height: 48px;
  border-radius: 30px;
  padding: 10px 14px;
  background: var(--primary-white-color);
  margin-bottom: 8px;
  background-image: image-set(
    url('/public/img/homePage/customers/customers.webp'),
    url('/public/img/homePage/customers/customers.png')
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 84%;

  @media (min-width: 768px) {
    width: 237px;
    height: 67px;
    margin-bottom: 64px;
  }
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 170px;
  height: 56px;
  margin-left: auto;

  @media (min-width: 768px) {
    margin-top: 64px;
    width: 242px;
    height: 78px;
  }
}

.habit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 30px;
  padding: 9px 12px;
  background-color: var(--primary-dark-grey-color);

  @media (min-width: 768px) {
    width: 112px;
    height: 34px;
    padding: 11px 16px;
  }
}

.habitText {
  color: var(--primary-white-color);
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -1%;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 12px;
  }
}

.statistics {
  border-radius: 30px;
  padding: 9px 12px;
  background-color: var(--primary-green-color);

  @media (min-width: 768px) {
    width: 122px;
    height: 34px;
    padding: 11px 16px;
  }
}

.statisticsText {
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -1%;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 12px;
  }
}

.rate {
  border-radius: 30px;
  padding: 9px 12px;
  background-color: var(--primary-white-color);

  @media (min-width: 768px) {
    width: 161px;
    height: 34px;
    padding: 11px 16px;
  }
}

.rateText {
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -1%;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 12px;
  }
}

.dot {
  position: static;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary-green-color);
}
