.wrapper {
  height: 353px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: image-set(url('/public/img/homePage/mobile/background-mobile-@1x.webp') 1x,
      url('/public/img/homePage/mobile/background-mobile-@1x.png') 1x);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 144dpi),
  (min-resolution: 2dppx) {
    background-image: image-set(url('/public/img/homePage/mobile/background-mobile-@2x.webp') 2x,
        url('/public/img/homePage/mobile/background-mobile-@2x.png') 2x);
  }

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 0;
    align-items: flex-end;
    justify-content: space-between;
    height: 446px;
    padding: 32px;
    background-image: image-set(url('/public/img/homePage/tablet/background-tablet-@1x.webp') 1x,
        url('/public/img/homePage/tablet/background-tablet-@1x.png') 1x);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 144dpi),
    (min-resolution: 2dppx) {
      background-image: image-set(url('/public/img/homePage/tablet/background-tablet-@2x.webp') 2x,
          url('/public/img/homePage/tablet/background-tablet-@2x.png') 2x);
    }
  }

  @media (min-width: 1440px) {
    width: calc((100% - 32px) / 2);
    height: 736px;
    padding: 64px 32px;
    background-image: image-set(url('/public/img/homePage/desktop/background-desktop-@1x.webp') 1x,
        url('/public/img/homePage/desktop/background-desktop-@1x.png') 1x);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 144dpi),
    (min-resolution: 2dppx) {
      background-image: image-set(url('/public/img/homePage/desktop/background-desktop-@2x.webp') 2x,
          url('/public/img/homePage/desktop/background-desktop-@2x.png') 2x);
    }
  }
}

.wrapper.signInPage,
.wrapper.signUpPage {
  @media (max-width: 1439.98px) {
    display: none;
  }
}