.container {
    max-width: 343px;
    padding-left: 20px;
    padding-right: 19px;
    padding-bottom: 40px;
    background-color: var(--primary-light-grey-color);

    @media (min-width: 768px) {
        max-width: 704px;
        padding-left: 32px;
        padding-right: 32px;
      }
    @media (min-width: 1440px) {
        max-width: 672px;
        padding-left: 32px;
        padding-right: 32px;
      }
}