@import '../../../styles/variables.css';

.registerContainer {
  @media (max-width: 374.98px) {
    max-width: 311px;
  }

  margin-left: auto;
  margin-right: auto;
  padding: 0 4px;
  background-color: inherit;

  @media (min-width: 768px) {
    width: 444px;
  }
}

.title {
  @media (max-width: 374.98px) {
    font-size: 36px;
    line-height: 106%;
  }

  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--primary-dark-grey-color);
  margin-bottom: 32px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 768px) {
    width: 436px;
  }
}

.field {
  @media (max-width: 374.98px) {
    font-size: 16px;
    line-height: 150%;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 16px;
  position: relative;

  font-weight: 700;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--primary-black-color);
}

.showPasswordBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.icon {
  fill: none;
  stroke: var(--primary-black-color);
  width: 20px;
  height: 20px;
}

.input {
  @media (max-width: 374.98px) {
    font-size: 16px;
    line-height: 150%;
  }

  width: 100%;
  margin-top: 8px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);

  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
  height: 50px;

  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 436px;
  }
}

.submit {
  @media (max-width: 374.98px) {
    font-size: 16px;
    line-height: 150%;
  }

  margin-top: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
  width: 100%;

  font-weight: 700;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--primary-dark-grey-color);

  border-radius: 30px;
  padding: 16px 129px;
  height: 50px;
  background: var(--primary-green-color);

  @media (min-width: 768px) {
    width: 436px;
  }
}

.inviteOnLogIn {
  @media (max-width: 374.98px) {
    font-size: 16px;
    line-height: 150%;
  }

  width: 100%;
  display: flex;
  column-gap: 4px;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--primary-dark-grey-color);

  @media (min-width: 768px) {
    width: 436px;
  }
}

.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--primary-black-color);

  text-decoration: none;
}

input[value] {
  @media (max-width: 374.98px) {
    font-size: 16px;
    line-height: 150%;
  }

  font-weight: 700;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--primary-dark-grey-color);
}

.errorsMessage {
  color: #ff0000;
}

.inputError {
  width: 100%;
  margin-top: 8px;
  line-height: 129%;
  letter-spacing: -0.01em;

  border: 1px solid #ff0000;
  border-radius: 15px;
  padding: 16px;
  width: 311px;
  height: 50px;

  box-sizing: border-box;
}
