.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  padding-top: 80px;
  padding-bottom: 80px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity var(--transition-timing-function) var(--transition-duration);

  @media(min-width:768px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.optionClass {
  display: block;
}

.optionClass .modalContainer {
  @media (min-width:768px) {
    width: 648px;
  }

  @media (min-width:1440px) {
    width: 920px;
  }
}

.modalBackdrop::-webkit-scrollbar {
  display: none;
}

.modalContainer {
  position: relative;
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
  border-radius: 15px;
  padding: 40px 14px;
  margin: 0 auto;

  @media(min-width:768px) {
    padding: 40px;
    width: 518px;
  }
}

.modalButtonClose {
  position: absolute;
  background-color: var(--primary-white-color);
  width: 24px;
  height: 24px;
  top: 20px;
  right: 20px;
}

.iconClose {
  width: 100%;
  height: 100%;
  stroke: var(--primary-black-color);
  pointer-events: none;
}