.userBarPopover {
  position: absolute;
  top: -20%;
  width: 100%;
  height: 72px;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 14px 0 14px 20px;
  border-radius: 15px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-timing-function) var(--transition-duration);

  @media (min-width:768px) {
    height: 82px;
  }
}

.visible {
  top: calc(100% + 4px);
  opacity: 1;
  z-index: 10;
  pointer-events: auto;

  @media (min-width:768px) {
    top: calc(100% + 8px);
  }
}

.settingsButton,
.logoutButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  line-height: 1.28px;
  background-color: var(--primary-white-color);

  @media (min-width:768px) {
    font-size: 15px;
    line-height: 1.49;
  }
}

.logoutButton {
  color: rgba(50, 63, 71, 0.4);
}

.settingsIcon,
.logoutIcon {
  width: 16px;
  height: 16px;
}

.settingsIcon {
  stroke: var(--primary-black-color);
}

.logoutIcon {
  stroke: rgba(50, 63, 71, 0.4);
  fill: none;
}