.userBarPopover {
  position: absolute;
  z-index: 10;
  background-color: var(--primary-white-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.settingsButton,
.logoutButton {
  background-color: transparent;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  gap: 8px;
}

.settingsButton:hover,
.logoutButton:hover {
  background-color: #f9f9f9;
}

.btnSetting,
.logoutButton {
  margin-left: 5px;
}