.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}
.title {
color: var(--primary-dark-grey-color);
font-size: 20px;
font-weight: 700;
line-height: 1.2; 
letter-spacing: -0.2px;
}
.dateBox {
    display: flex;
    gap: 16px;
}
.date {
    color: var(--primary-dark-grey-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.14px; 
}