.userBarContainer {
  height: 50px;
  width: fit-content;
  position: relative;

  @media (min-width:768px) {
    height: 56px;
    gap: 10px;
    margin-bottom: 8px;
  }
}

.userBarWrapper {
  display: flex;
  gap: 8px;
  border-radius: 30px;
  background-color: #323f47;
  padding: 6px 12px;
  align-items: center;
  margin-bottom: 4px;

  @media (min-width:768px) {
    gap: 10px;
    margin-bottom: 8px;
  }
}

.userName {
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;

  @media (min-width:768px) {
    width: 44px;
    height: 44px;
  }
}

.userBarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: transparent;
  transition: all var(--transition-timing-function) var(--transition-duration);

  @media (min-width:768px) {
    width: 20px;
    height: 20px;
  }
}

.openPopover {
  rotate: 180deg;
}

.userBarIcon {
  width: 100%;
  height: 100%;
}