.wrapper {
  width: 343px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 74px;
  background-color: var(--primary-light-grey-color);
  padding: 24px 16px 67px 16px;
}

.description {
  margin-bottom: 32px;
}

.descriptionParagraph {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 6%;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  letter-spacing: -1%;
  color: var(--primary-dark-grey-color);
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttonTryTracker {
  background-color: var(--primary-green-color);
  color: var(--primary-dark-grey-color);
  padding: 14px 19px;
  border-radius: 30px;
  font-weight: 700;
  transition: all 0.2s ease;
}

.buttonTryTracker:hover {
  background-color: var(--hover-green-color);
}

.buttonTryTracker:disabled {
  background-color: transparent;
  color: #bcbcbc;
}

.buttonSignIn {
  background-color: transparent;
  border: 1px solid var(--primary-dark-grey-color);
  color: var(--primary-dark-grey-color);
  border-radius: 30px;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: 700;
  transition: all 0.2s ease;
}

.buttonSignIn:hover {
  border: 1px solid var(--hover-green-color);
  color: var(--hover-green-color);
}

.buttonSignIn:disabled {
  border: 1px solid #bcbcbc;
  color: #bcbcbc;
}

@media (min-width: 768px) {
  .wrapper {
    width: 704px;
    height: 498px;
    padding: 32px 93px 50px 32px;
    gap: 50px;
  }

  .title {
    font-size: 64px;
    line-height: 70px;
  }

  .descriptionParagraph {
    font-size: 16px;
    line-height: 24px;
  }

  .buttons {
    gap: 16px;
  }

  .buttonTryTracker {
    padding: 18px 40px;
  }

  .buttonSignIn {
    padding: 18px 40px;
  }

  .content {
    padding-left: 32px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    height: 736px;
    gap: 132px;
    padding-right: 61px;
    padding-bottom: 188px;
  }

  .descriptionParagraph {
    line-height: 24px;
  }

  .title {
    font-size: 80px;
    line-height: 76px;
  }
}
