.wrapper {
  max-width: 343px;
  height: 780px;
  background-color: var(--primary-light-grey-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;

  @media (min-width: 768px) {
    max-width: 704px;
    height: 960px;
    padding: 32px;
  }

  @media (min-width: 1440px) {
    width: calc((100% - 32px) / 2);
    height: 736px;
  }
}

/* .container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 1440px) {
    max-height: 100%;
    overflow-y: auto;
    gap: 32px;
    flex-direction: row;
  }
}

.container::-webkit-scrollbar {
  display: none;
} */